@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(22, 17, 17);
}

li, a, button {
    font-size:18px;
    color: white;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav_links li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

.logo {
    cursor: pointer;
}

button {
    border: none;
    background-color: rgba(0,136,169, 1);
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    transition: all 0.3s ease 0s;
    background-color: rgba(0,136,169, 0.8);
}