* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-container {
    background: linear-gradient(rgb(241, 37, 88), rgb(206, 25, 137));
    padding: 100px;
}

.contact-form, input, textarea {
    background: rgb(247, 248, 248);
    padding: 50px;
    border-radius: 6px;
}

.contact-form h2, .submit-button {
    text-align: center;
    margin-top: 20px;
}
.contact-form h2 {
    margin-bottom: 20px;
    color: rgb(19, 17, 17);
}

input[type=text], textarea {
    border: none;
    margin: 10px 0;
    padding:10px 5px;
    border-bottom: solid 1px rgb(180, 180, 180);
    resize: vertical;
    width: 100%;
}

.contact-form input[type=button] {
    padding: 8px 20px;
    border:none;
    background: linear-gradient(rgb(241, 37, 88), rgb(206, 25, 137));
    color:white;
    font-weight: 600;
    cursor: pointer;
}

.contact-form input[type=button]:hover {
    background: linear-gradient(rgba(241, 37, 88, 0.8), rgba(206, 25, 137,0.8));
}